*{
  color: aliceblue;

}
.container-box{
    width: auto;
  margin: auto;
  display: block;
  margin-top: -300px;

    position: relative;
    text-align: center;
    color: white;
}
.pnd-text{
  background-color: transparent;
  color: black;
  font-size: x-large;
}
.pnd{
  background-color: transparent;
  color: black;
  font-family: 'Satisfy', cursive;
  margin-top: 5px;
  padding-top: 0px;
}
.about-sec{
  background-color: aliceblue;
  width: 100%;
  text-align:center;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 30px;
}
img.foursevensvg {
  height: 150px;
  width: auto;
  margin: -30px;
}
img.dap {
  height: 100px;
  width: auto;
  
}
.exp-sec{
  background-color: aliceblue;
  width: 100%;
  text-align:center;
  border-radius: 10px;
  margin-top: 20px;
 
}
.proj-sec{
  background-color: aliceblue;
  width: 100%;
  text-align:center;
  border-radius: 10px;
  margin-top: 20px;
}


.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    font-size: 60px;

  }
  .centered-text2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    font-size: 40px;
    margin-bottom: 40px;
   

  }
.home-section{
    position: relative;
 margin-bottom: 25px;
 margin-top: 330px;
  
}
h2.ship{
  font-family: 'Satisfy', cursive;
  font-size: xx-large;
}
.home-svg{
  background-color: transparent;
  margin-top: 5px;
}
.insta-svg{
  background-color: transparent;
}

.headline{
  font-family: 'Satisfy', cursive;
}

.about-us{
  text-align: center;
  margin-top: 15px;
}


.bottom-svg{
  position: absolute;
  top: 8px;
  left: 16px;

}
@media screen and (max-width: 600px) {
  .centered-text {
    font-size: 20px;
  }
  .pnd-text{
    font-size: unset;
  }
}
img.binary-pic{
    display: block;
    width: 100%;
    border-radius: 40px;
}
.img {
    border:1px solid black;
    }
    .img:hover {
    border: none;
    box-shadow: 0 0 10px black inset;
    }