*{
  color: aliceblue;

}
.container-box{
    width: auto;
  margin: auto;
  margin-top: -300px;
  display: block;
  padding-bottom: 5px;
    position: relative;
    text-align: center;
    color: white;
}
#detailed-sec{
  padding: 15px;
  background-color: aliceblue;
}
.pnd-text{
  background-color: transparent;
  color: black;
  font-size: x-large;
}
.job-time{
  color: grey;
  font-size: 13px;
}
.mustang{
  width: 150px;
  height: auto;
  padding: 10px;
}
.dallas{
  width: 130px;
  height: auto;
  padding: 10px;
}
.project-comp{
  margin: 20px;
}
.pnd{
  background-color: transparent;
  color: black;
  font-family: 'Satisfy', cursive;
  margin-top: 5px;
  padding-top: 0px;
}
.about-sec{
  background-color: aliceblue;
  width: 100%;
  text-align:center;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 30px;
}
img.foursevensvg {
  height: 150px;
  width: auto;
  margin: -30px;
}
img.dap {
  height: 100px;
  width: auto;
  
}
.exp-sec{
  background-color: aliceblue;
  width: 100%;
  text-align:center;
  border-radius: 10px;
  margin-top: 20px;
 
}
.proj-sec{
  background-color: aliceblue;
  width: 100%;
  text-align:center;
  border-radius: 10px;
  margin-top: 20px;
}


.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;

  }
  .centered-text2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
   color: aliceblue;
   font-size: 40px;
    margin-bottom: 100px;
    font-family:'Times New Roman', Times, serif;
 
    

  }

  .skill-svg{
    display: "flex";
    justify-content: "center";
     align-items: "center";
     margin: 5px;
  }
.home-section{
    position: relative;
 margin-bottom: 25px;
 margin-top: 330px;
  
}
h2.ship{
  font-family: 'Satisfy', cursive;
  font-size: xx-large;
}
.home-svg{
  background-color: transparent;
  margin-top: 5px;
}
.insta-svg{
  background-color: transparent;
}

.headline{
  font-family: 'Satisfy', cursive;
}
.me-pic{
  display: inline-block;
  height: auto;
  width: 40%;
  border-style: solid;
  margin-bottom: 15px;
  border-radius: 7px;
}

.about-us{
  text-align: center;
  margin-top: 15px;
}


.bottom-svg{
  position: absolute;
  top: 8px;
  left: 16px;

}
@media screen and (max-width: 600px) {
  .centered-text {
    font-size: 20px;
  }
  .pnd-text{
    font-size: unset;
  }
  .centered-text2 {
    position: absolute;
    left: 50%;
    padding-bottom: 105px;
    transform: translate(-50%, -10%);
    font-size: 23px;
  
}
.me-pic{
  display: inline-block;
  height: auto;
  width: 80%;
  border-radius: 7px;
}
}
img.binary-pic{
    display: block;
    width: 100%;
    border-radius: 40px;
}
.img {
    border:1px solid black;
    }
    .img:hover {
    border: none;
    box-shadow: 0 0 10px black inset;
    }